cmake-build-*/
build/
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

bin/
*.o
*.a
*.so
*.exe
RetroRush

*.swp
*~
.DS_Store

.idea/
*.iml

sfml-src/

*.log

lib/
include/SFML/

assets/*.tmp

/.idea
/.vscode
/.vs
